.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: disc;
  background-image: linear-gradient(45deg, rgb(255, 0, 208) 0.00%,rgb(127, 36, 166) 51.00%,rgb(127, 36, 166) 48.00%,rgb(6, 6, 6) 100.00%);
  list-style-image: none;
  list-style-position: outside;
}
.Main {
  width: 100%;
  height: 100%;
  direction: rtl;
  overflow-y: auto;
}
.Container01 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.White-Card {
  width: 100%;
  display: flex;
  padding: 50px;
  direction: ltr;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-end;
  background-color: #ffffff;
}
.container02 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.image {
  width: 200px;
  height: 250px;
  align-self: center;
  object-fit: cover;
}
.container03 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
  background-color: #ffffff;
}
.text {
  width: 100%;
  align-self: flex-start;
}
.container04 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.text02 {
  width: 100%;
  height: 100%;
  font-style: normal;
}
.Links {
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
}
.link {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  line-height: 1.55;
  letter-spacing: 2;
}
.text04 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
}
.link01 {
  width: 100%;
  height: 100%;
  margin: var(--dl-space-space-doubleunit);
  line-height: 1.55;
  letter-spacing: 2;
}
.container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.text06 {
  width: 100%;
  height: 100%;
}
.White-Card1 {
  direction: ltr;
  margin-top: var(--dl-space-space-fiveunits);
}
.Format-Card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.Text-Container {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.Title {
  align-self: flex-start;
  text-decoration: none;
}
.container06 {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  justify-content: flex-start;
}
.Link02 {
  align-self: flex-end;
}
.text19 {
  text-decoration: underline;
}
.Image1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.link03 {
  display: contents;
}
.image2 {
  flex: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-decoration: none;
}
.White-Card2 {
  direction: ltr;
}
.Format-Card1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.Text-Container1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.Title1 {
  align-self: flex-start;
  text-decoration: none;
}
.container07 {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  justify-content: flex-start;
}
.Link04 {
  align-self: flex-end;
}
.Image3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.link05 {
  display: contents;
}
.image4 {
  width: 100%;
  object-fit: cover;
  text-decoration: none;
}
.White-Card3 {
  direction: ltr;
}
.Format-Card2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.Text-Container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.Title2 {
  align-self: flex-start;
  text-decoration: none;
}
.text24 {
  font-size: 16px;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}
.container08 {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  justify-content: flex-start;
}
.Link06 {
  align-self: flex-end;
}
.Image5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.link07 {
  display: contents;
}
.image6 {
  flex: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-decoration: none;
}
.White-Card4 {
  margin-top: 0px;
}
.Format-Card3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.container09 {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Sidebar {
  width: 378px;
  height: 780px;
  display: flex;
  overflow: auto;
  padding-top: 74px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 74px;
}
.Nav {
  color: white;
  position: fixed;
  mix-blend-mode: difference;
}
.container10 {
  width: 194px;
  display: flex;
  align-items: flex-start;
  margin-right: 29px;
  flex-direction: column;
}
.link10 {
  font-style: normal;
  text-decoration: none;
}
.link11 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .White-Card {
    width: 551px;
  }
}
@media(max-width: 767px) {
  .Sidebar {
    height: 100%;
  }
}
@media(max-width: 479px) {
  .Sidebar {
    display: none;
  }
}
